<template>
  <div>

    <!-- Añade elementos nuevos -->
    <InputComponent title="Crea Elemento" 
      @input-add="addElementNew"
      :modificaciones="modificaciones"
    />

  
    <div class="mt-10">

      <!-- Lista todos los elementos de la lista -->
      <div class="float-left">
        <h3 class="mb-0">Listado completo</h3>
        <ul class="mt-0">
          <li v-for="todo in listado" :key="todo.id">
            <input type="checkbox" v-model="todo.done">
            <span :class="{ done: todo.done }">{{ todo.id }} - {{ todo.text }}</span>
            <button @click="removeElement(todo)">X</button>
          </li>
        </ul>
      </div>


      <!-- 2.Lista todos los elementos con done = true -->
      <div class="float-left">
        <h3 class="mb-0">Clave "done" a true</h3>
        <ul class="mt-0">
          <li v-for="todo in filterDoneTrue" :key="todo.id">
            <span :class="{ done: todo.done }">{{ todo.id }} - {{ todo.text }}</span>
          </li>
        </ul>
      </div>


      <!-- 5.Lista los elementos solo cuando hay más de 3 -->
      <div class="float-left">
        <div v-if="listado.length>=numListaElemt">
          <h3 class="mb-0">Tienes más de {{ numListaElemt }} elementos</h3>
          <ul class="mt-0">
            <li v-for="todo in listado" :key="todo.id">
              <span :class="{ done: todo.done }">{{ todo.id }} - {{ todo.text }}</span>
            </li>
          </ul>
        </div>

        <div v-else>
          <h3 class="mb-0">Necesitas {{ numListaElemt-listado.length }} elementos más para mostrar los element</h3>
        </div>
      </div>


    </div>
  </div>
</template>

<script>
  import InputComponent from './components/InputText.vue'

  export default {
    name: "ComponenteInicial",
    components: {
      InputComponent
    },
    data() {
      return {
        id: 0,
        modificaciones: 0,
        numListaElemt: 3,
        listado: [
          {id: 0, text: 'Learn HTML', done: true},
          {id: 1, text: 'Learn JavaScript', done: true},
          {id: 2, text: 'Learn Vue', done: false}
        ]
      }
    },
    
    // 2.Filtra elementos para que solo muestre done=true
    computed: {
      filterDoneTrue: function () {
        return this.listado.filter((element) => element.done==true);
      }
    },

    // 3.Escucha todos los cambios del array "listado". Se usa handler y deep para que pueda detectar las modificaciones
    watch: {
      listado: {
        handler() {
          this.modificaciones++;
        },
        deep: true
      }
    },

    // 4.Añade un elemento al Inicio
    mounted() {
      this.addElementNew('Elemento Inicial');
    },


    methods: {

      // Borra un elemento de la lista
      removeElement(todo) {
        this.listado = this.listado.filter((t) => t !== todo);
      },

      // 1.Añade un elemento nuevo a la lista
      addElementNew(value) {
        this.listado.push({
          id: this.getId(),
          text: value,
          done: false
        })
      },

      // Obtiene el ultimo ID añadido al listado
      getId(){
        var ultimoId = 0;
        if(this.listado.length>=1){
          this.listado.forEach(element => {
            ultimoId = (element.id>ultimoId)? element.id : ultimoId;
          });
          return ultimoId+1;
        }
        else{
          return 0;
        }
      },
    },
  }
</script>

<style scoped>
  .done {
    text-decoration: line-through;
  }
</style>