<template>
  <div>

    <!-- Tipos de consultas predefinidas -->
    <div class="col-12">
        <div>
            <input type="radio" id="uno" name="tipo" value="1" v-model="tipo"/>
            <label for="uno">1.Recuperar el usuario que más productos a editado en general</label>
        </div>

        <div>
            <input type="radio" id="dos" name="tipo" value="2" v-model="tipo"/>
            <label for="dos">2.Recuperar el usuario que más productos a editado mirando un tipo concreto de atributo</label>
        </div>

        <div>
            <input type="radio" id="tres" name="tipo" value="3" v-model="tipo"/>
            <label for="tres">3.Recuperar los productos que tienen un atributo concreto vacío</label>
        </div>

        <div>
            <input type="radio" id="cuatro" name="tipo" value="4" v-model="tipo"/>
            <label for="cuatro">4.Recuperar los productos que tienen algún atributo vacío</label>
        </div>

        <div>
            <input type="radio" id="cinco" name="tipo" value="5" v-model="tipo"/>
            <label for="cinco">5.Recuperar todos los atributos de un producto concreto</label>
        </div>

        <button class="btn btn-primary py-0 px-1 my-2" @click="realizaConsulta()">Consulta Nº{{ tipo }}</button>
    </div>


    <!-- Muestra los resultados -->
    <div class="col-12 mt-3 border-top" v-if="sql!='' && resultados!=[]">

      <!-- SQL -->
      <div>
        <h3>Consulta SQL Nº{{ tipoSql }}</h3>
        <pre>{{ sql }}</pre>
      </div>

      <!-- Resultado -->
      <div class="overflow-400">
        <h3>Resultados</h3>
        <table class="table">
          <thead>
            <tr>
              <th class="text-capitalize" v-for="titulo in titulos">{{ titulo }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="resultado in resultados">
              <td v-for="(value,key) in resultado">
                {{ value }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</template>
  
<script>
  export default {
    name: "ComponenteSql",
    data() {
      return {
        tipo: null,
        tipoSql: null,
        sql: '',
        titulos: [],
        resultados: [],
      }
    },
    methods: {
      realizaConsulta() {
          var id_tipo = this.tipo;
          var url = window.location.href+'consultas/'+id_tipo;
          this.limpiaVariables();

          axios.get(url)
          .then((res) =>{
              var data = res.data;
              this.sql = data.sql;
              this.tipoSql = id_tipo;

              if(data.resultado.length>=1){
                this.resultados = data.resultado;
                this.titulos = Object.keys(data.resultado[0]);
              }

          })
          .catch(error => {
              console.error('There was an error!', error);
          });

      },


      limpiaVariables() {
        this.sql = '';
        this.resultados = [];
        this.titulos = [];
        this.tipoSql = null;
      }
    },
  }
</script>
 