<template>
    <div>
        <h2>Llevas {{ modificaciones }} modificaciones</h2>
        <label style="margin-right: 5px;">{{ title }}</label>
        <input style="margin-right: 5px;" type="text" v-model="inputValue" required>
        <input type="submit" value="Añadir" @click="emitValueInput">
    </div>
</template>

<script>
  export default {
    data() {
        return {
            inputValue: ''
        }
    },
    props: {
        title: {type: String, required: false, default: 'Label'},
        modificaciones: {type: Number, required: true}
    },
    methods: {
        emitValueInput() {
            if(this.inputValue==''){
                alert('Introduce un valor antes de pulsar el boton "Añadir".');
            }
            else{
                this.$emit('input-add', this.inputValue);
                this.inputValue = '';
            }
        }
    },
  }
</script>